[submodule "tools/routersploit"]
	path = tools/routersploit
	url = https://github.com/threat9/routersploit
[submodule "tools/exploitdb"]
	path = tools/exploitdb
	url = https://github.com/offensive-security/exploitdb
[submodule "routers/OpenWRTInvasion"]
	path = routers/OpenWRTInvasion
	url = https://github.com/acecilia/OpenWRTInvasion
[submodule "tools/Router-Exploit-Shovel"]
	path = tools/Router-Exploit-Shovel
	url = https://github.com/arthastang/Router-Exploit-Shovel
[submodule "tools/IoTCrusher"]
	path = tools/IoTCrusher
	url = https://github.com/OpCode41/IoTCrusher
[submodule "routers/CiscoRV320Dump"]
	path = routers/CiscoRV320Dump
	url = https://github.com/0x27/CiscoRV320Dump
[submodule "routers/CiscoExploit"]
	path = routers/CiscoExploit
	url = https://github.com/k8gege/CiscoExploit
