[submodule "tools/routersploit"]
	path = tools/routersploit
	url = https://github.com/threat9/routersploit
[submodule "tools/exploitdb"]
	path = tools/exploitdb
	url = https://github.com/offensive-security/exploitdb
[submodule "routers/OpenWRTInvasion"]
	path = routers/OpenWRTInvasion
	url = https://github.com/acecilia/OpenWRTInvasion
[submodule "tools/Router-Exploit-Shovel"]
	path = tools/Router-Exploit-Shovel
	url = https://github.com/arthastang/Router-Exploit-Shovel
[submodule "tools/IoTCrusher"]
	path = tools/IoTCrusher
	url = https://github.com/OpCode41/IoTCrusher
[submodule "routers/CiscoRV320Dump"]
	path = routers/CiscoRV320Dump
	url = https://github.com/0x27/CiscoRV320Dump
[submodule "routers/CiscoExploit"]
	path = routers/CiscoExploit
	url = https://github.com/k8gege/CiscoExploit
[submodule "routers/dlkploit600"]
	path = routers/dlkploit600
	url = https://github.com/halencarjunior/dlkploit600
[submodule "routers/zenith"]
	path = routers/zenith
	url = https://github.com/0vercl0k/zenith
[submodule "routers/zyxel-exploit"]
	path = routers/zyxel-exploit
	url = https://github.com/Notionned101/exploit
[submodule "routers/CVE-2022-30525-Reverse-Shell"]
	path = routers/CVE-2022-30525-Reverse-Shell
	url = https://github.com/Chocapikk/CVE-2022-30525-Reverse-Shell
[submodule "routers/TEW-652_CVE-2019-11399"]
	path = routers/TEW-652_CVE-2019-11399
	url = https://github.com/pr0v3rbs/CVE
[submodule "tools/PayloadsAllTheThings"]
	path = tools/PayloadsAllTheThings
	url = https://github.com/swisskyrepo/PayloadsAllTheThings
[submodule "routers/Linksys-Smart-WiFi-Information-Disclosure"]
	path = routers/Linksys-Smart-WiFi-Information-Disclosure
	url = https://github.com/zeropwn/Linksys-Smart-WiFi-Information-Disclosure
